{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->

  <div id="fs-banner" class="hidden">
    <i>
      <p>Un desarrollador Full Stack es el encargado de manejar cada uno de los aspectos relacionados con la creación y el mantenimiento de una aplicación web.
      Para ello es fundamental que el desarrollador Full Stack tenga conocimientos en desarrollo Front-End y Back-End,
      además de manejar diferentes sistemas operativos, lenguajes de programación y otras tecnologías.</p>
      <p>Dicho de otra forma, el desarrollador Full Stack es un profesional todoterreno:
      conoce cómo se diseña la aplicación web basándose en principios del diseño UX/UI. Y, además, es capaz de desarrollarla desde el inicio hasta el final, siendo capaz
      de trabajar o coordinar cualquier punto del proceso de su construcción.
      Esto lo convierte en una figura imprescindible en las empresas con una fuerte base tecnológica y uno de los perfiles más demandados en la actualidad y en el futuro.</p>
      <p>Fuente: <a href="https://www.neoland.es/blog/que-es-desarrollador-full-stack">https://www.neoland.es/blog/que-es-desarrollador-full-stack</a></p>
    </i>
  </div>
    
</section><!--//section-->
{% endif %}
