{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>


  <h4 id="start-grow"><div class="square-g cap"></div>Habilidades principales</h4>
  <div class="skillset">

    {% for skill in skills.main-skills %}
      <span class="badge badge-green">{{ skill.name }}</span>
    {% endfor %}
  </div>


  <h4 id="start-grow"><div class="square-y cap"></div>Puedo desenvolverme solo</h4>
  <div class="skillset">

    {% for skill in skills.mid-skills %}
      <span class="badge badge-yellow">{{ skill.name }}</span>
    {% endfor %}
  </div>


  <h4 id="start-grow"><div class="square-r cap"></div>Tengo algunas nociones</h4>
  <div class="skillset">

    {% for skill in skills.low-skills %}
      <span class="badge badge-red">{{ skill.name }}</span>
    {% endfor %}
  </div>

  

</section><!--//skills-section-->
{% endif %}
